<div id="about">
    <div class="splash-container">
        <div class="splash">
            <h1 class="splash-head">Bobby LE</h1>
            <p class="splash-subhead">
                Front-end developer, passionate about music and photography.
            </p>
            <!--<p>-->
            <!--<a href="http://purecss.io" class="pure-button pure-button-primary">Get Started</a>-->
            <!--</p>-->
        </div>
    </div>

    <div class="content-wrapper">
        <div class="content">
            <h2 class="content-head is-center">About me</h2>

            <div class="pure-g">
                <div class="l-box pure-u-1">
                    <h3 class="content-subhead">
                        PROFILE
                    </h3>
                    <p>
                      I am a 26-year-old Web Developer living in Seine-et-Marne, near Paris (France).<br />
                      I obtained my <strong>Professional Degree in Web development and Multimedia</strong> at Paris 13 University in 2012.<br />
                      Since then, I worked for many web agencies such as <a href="http:/www.gris-metal.com" target="_blank">Gris-Metal</a>, <a href="http://h2c-interactive.com/" target="_blank">H2C</a> and <a href="http://www.ylly.fr/" target="_blank">Ylly</a> which I am currently working since 2015.<br />
                      I like working with <strong>Ruby on Rails</strong> and <strong>AngularJS</strong> frameworks.
                    </p>
                    <p>
                      When I am not coding websites, I am enjoying playing guitar or taking photographies between 2 matchs of volleyball.
                    </p>
                </div>
            </div>
          <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-1-2">
              <h3 class="content-subhead">
                EXPERIENCES
              </h3>
              <ul>
                <li>
                  <strong>Ylly</strong><br />
                  Front-End Developer - Symfony2 (2015 - present)
                </li>
                <li>
                  <strong>H2C Interactive</strong><br />
                  Front-End Developer - Magento (2012 - 2014)
                </li>
                <li>
                  <strong>Gris-Metal</strong><br />
                  Front-End Developer - WordPress (2011 - 2012)
                </li>
                <li>
                  <strong>City of Charenton - Direction of Communication</strong><br />
                  Front-End Developer / Flash Developer (2011)
                </li>
              </ul>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2">
              <h3 class="content-subhead">
                SKILLS
              </h3>
              <ul>
                <li>HTML5, Flash AS3</li>
                <li>CSS/SASS, Bootstrap, PureCss*</li>
                <li>JavaScript, jQuery, AngularJS*</li>
                <li>PHP, WordPress, Magento, Prestashop, Symfony2</li>
                <li>Ruby on Rails*</li>
              </ul>
              <span>* Currently learning.</span>
            </div>
          </div>
        </div>

        <div class="ribbon l-box-lrg pure-g">
            <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
                <!--<img class="pure-img-responsive" alt="File Icons" width="300" src="images/file-icons.png">-->
            </div>
            <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

                <h2 class="content-head content-head-ribbon">DOWNLOAD MY RESUME</h2>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor.
                </p>
            </div>
        </div>

        <div class="content">
            <h2 class="content-head is-center">Dolore magna aliqua. Uis aute irure.</h2>

            <div class="pure-g">
                <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
                    <form class="pure-form pure-form-stacked">
                        <fieldset>

                            <label for="name">Your Name</label>
                            <input id="name" type="text" placeholder="Your Name">


                            <label for="email">Your Email</label>
                            <input id="email" type="email" placeholder="Your Email">

                            <label for="password">Your Password</label>
                            <input id="password" type="password" placeholder="Your Password">

                            <button type="submit" class="pure-button">Sign Up</button>
                        </fieldset>
                    </form>
                </div>

                <div class="l-box-lrg pure-u-1 pure-u-md-3-5">
                    <h4>Contact Me</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat.
                    </p>

                    <h4>More Information</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                </div>
            </div>

        </div>
        <ng-include src="'views/layouts/_footer.html'"></ng-include>
    </div>
</div>
