<header>
    <div class="menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="/">Bobby LE</a>

        <ul class="pure-menu-list">
            <li class="pure-menu-item pure-menu-selected"><a href="/about" class="pure-menu-link">ABOUT</a></li>
            <li class="pure-menu-item"><a href="/work" class="pure-menu-link">WORK</a></li>
            <li class="pure-menu-item"><a href="/blog" class="pure-menu-link">BLOG</a></li>
            <li class="pure-menu-item"><a href="/contact" class="pure-menu-link">CONTACT</a></li>
        </ul>
    </div>
</header>